{% extends "base.html" %}
{% block title %} {{ pet.name }} {% endblock %}

{% block content %}

<div class="container w-50 mt-5">
  <div class="row">
    <div class="col">
      <h3 class="text-center mt-5">{{ pet.name }}</h3>
      <p class="text-center">Age: {{ pet.age }}</p>
      <p class="text-center">Species: {{ pet.species }}</p>
    </div>
    {% if pet.photo_url %}
    <div class="col">
      <img src="{{ pet.photo_url }}" alt="{{ pet.name }}" class="img-thumbnail">
    </div>
    {% endif %}
  </div>
</div>

{% for msg in get_flashed_messages() %}
<div class="container w-25 mt-5">
  <p class="alert alert-success text-center"> {{ msg }}</p>
</div>
{% endfor %}

<div class="container w-50 mt-5">
  <form id="pet-add-form" method="POST" class="form-group">
    {{ form.hidden_tag() }} <!--add type=hidden form fields -->

    {% for field in form
          if field.widget.input_type != 'hidden' %}

      <p>
        {{ field.label }}
        {% if field.id != "available" %} <!--different styling for checkbox -->
          {{ field (class_="form-control")}}
        {% else %}
          {{ field }}
        {% endif %}

        {% for error in field.errors %}
          {{ error }}
        {% endfor %}
      </p>

    {% endfor %}

    <button type="submit" class="btn btn-info">Submit</button>
  </form>
</div>
{% endblock %}
