{% extends "base.html" %}
{% block title %} Pet List {% endblock %}

{% block content %}
<h1 class="text-center mt-5">Here are our pets!</h1>

<div class="container mt-5">
  <div class="row">
    {% for pet in pets %}
        <div class="col-4">
          {% if pet.photo_url %}
          <a href="/{{ pet.id }}">
            <img src="{{ pet.photo_url }}" alt="{{ pet.name }}"
                class="img-thumbnail">
          </a>
          {% endif %}
          <p>
            <a href="/{{ pet.id }}"
              class="link-info text-decoration-none">{{ pet.name }}
            </a>
          <b>is {% if not pet.available %} not {% endif %} available!</b></p>
        </div>
    {% endfor %}
  </div>
  <form action="/add">
    <button class="btn btn-info">Add a Pet</button>
  </form>
</div>

<hr>

<h2 class="text-center mt-5">Random Petfinder Pet</h2>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-4">
      <img src="{{ petfinder_pet['picture'] }}"
           alt="{{ petfinder_pet['name'] }}"
           class="img-thumbnail">
      <p class="text-center">This is {{ petfinder_pet['name'] }}!</p>
      <p class="text-center">Age: {{ petfinder_pet['age'] }}</p>
    </div>
  </div>
</div>

{% endblock %}
